<h1>
Contact
</h1>
<table>
<tr>
<td>
<%= image_tag 'anish_photo.jpg' %>
</td>
</tr>
<tr>
<td>

<h2>
Designed by: Anish Phophaliya
<br>
Email: aphophal(at)andrew(dot)cmu(dot)edu
</h2>
</td>
</tr>
</table>